.intro__text {
font-style: normal;
font-weight: 1;
font-size: 16px;
line-height: 163%;
color: #FFFFFF;
/* white-space: pre-line; */
margin: 40px 0 33px;
}


@media (max-width: 470px) {
  .intro__text {
    margin: 40px 0 34px;
  }
}