.place__link {
  font-style: normal;
  font-weight: 1;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
  transition: opacity 0.2s ease-in-out;
  align-self: flex-start;
}

.place__link:hover {
  opacity: .8;
}