.place {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(2, 460px);
  column-gap: 40px;
  row-gap: 48px;
  list-style-type: none;
  margin: 0 148px 80px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media (max-width: 1124px) {
  .place {
    grid-template-columns: repeat(2, 440px);
    column-gap: 32px;
    margin: 0 48px 80px;
  }
}

@media (max-width: 976px) {
  .place {
    grid-template-columns: repeat(2, 340px);
    row-gap: 48px;
    column-gap: 32px;
    margin: 0 48px 73px;
  }
}

@media (max-width: 976px) {
  .place {
    grid-template-columns: repeat(2, 340px);
    row-gap: 48px;
    column-gap: 32px;
    margin: 0 48px 73px;
  }
}

@media (max-width: 780px) {
  .place {
    grid-template-columns: repeat(2, 320px);
    row-gap: 48px;
    column-gap: 28px;
    margin: 0 24px 73px;
  }
}

@media (max-width: 715px) {
  .place {
    grid-template-columns: repeat(1, 440px);
    row-gap: 48px;
    column-gap: 28px;
    margin: 0 24px 73px;
  }
}

@media (max-width: 480px) {
  .place {
    grid-template-columns: repeat(1, 360px);
    row-gap: 32px;
    margin: 0 24px 50px;
  }
}

@media (max-width: 410px) {
  .place {
    grid-template-columns: repeat(1, 320px);
  }
}

@media (max-width: 370px) {
  .place {
    margin: 0 0 50px;
  }
}